@charset "UTF-8";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

/*===============================
 * base
 *=============================*/
html {
  font-size: 62.5%; /* 16px*62.5 = 10px */
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Hiragino Kaku Gothic ProN", "Meiriyo", sans-serif;
  font-size: 1.6rem;
}
* {
  box-sizing: border-box;
}
h1,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  color: #1111cc;
  text-decoration: none;
}
i {
  color: #000;
}
.site-width {
  width: 980px;
  margin: 0 auto;
}
form {
  margin-block-end: 0;
}
input,
select,
textarea {
  display: block;
  padding: 0;
  font-size: 1.6rem;
}
input[type="text"],
input[type="password"],
select,
textarea {
  height: 40px;
  padding: 5px;
  border: none;
  background-color: #f6f5f5;
}
input[type="submit"],
button {
  height: 40px;
  border: none;
  background-color: #AEC4E5;
}
.two-column {
  overflow: hidden;
  margin-bottom: 50px;
}

/*===============================
 * header
 *=============================*/
.header {
  width: 100%;
  min-width: 980px;
  height: 80px;
  background-color: #4072B3;
  line-height: 80px;
  &-content {
    width: 980px;
    margin: 0 auto;
  }
}

.logo {
  float: left;
  margin-left: 20px;
  font-size: 3rem;
  & a {
    color: #fff;
  }
  &-sub {
    margin-left: 10px;
    color: #fff;
    font-size: 1.2rem;
  }
}

.top-nav {
  float: right;
  & ul li {
    float: left;
    width: 120px;
  }
  &-link {
    display: block;
    height: 100%;
    width: 100%;
    border-left: 1px solid #fff;
    color: #fff;
    text-align: center;
  }
  & ul li:last-child {
    border-right: 1px solid #fff;
  }
}

.flash-msg {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgba(192, 192, 192, 0.7);
  text-align: center;
  line-height: 40px;
}

/*===============================
 * footer
 *=============================*/
.footer {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #4072B3;
  color: #fff;
  text-align: center;
  line-height: 40px;
  bottom: 0;
}

/*===============================
 * main
 *=============================*/
.main {
  margin-top: 20px;
  margin-bottom: 50px;
}

/*===============================
 * sidebar
 *=============================*/
.sidebar {
  float: left;
  width: 200px;
  margin-left: 50px;
  border: 5px solid #f1f1f1;
  &-line {
    margin: 10px;
    border-bottom: 1px solid #EB8686;
  }
  &-page-count {
    font-size: 1.4rem;
    text-align: center;
  }
}

.search-form {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden;
  & input[type="text"],
    select {
    width: 100%;
    margin-bottom: 10px;
  }
  & input[type="submit"] {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/*===============================
 * post
 *=============================*/
.post {
  float: right;
  width: 610px;
  margin-right: 100px;
  &-list {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #f1f1f1;
  }
  &-user-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    object-fit: cover;
  }
  &-user-name {
    display: inline-block;
    width: 500px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    & a:hover {
      text-decoration: underline;
    }
  }

  &-time {
    position: absolute;
    font-size: 1.2rem;
    top: 10px;
    right: 10px;
  }
  &-tool-name {
    width: 570px;
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    & a:hover {
      text-decoration: underline;
    }
  }
  &-wrap-center {
    overflow: hidden;
  }
  &-tool-introduction {
    float: left;
    width: 400px;
  }
  &-tool-img {
    float: right;
    max-width: 150px;
    max-height: 150px;
  }
  &-wrap-icon {
    text-align: right;
  }
}

.icon-pointer {
  cursor: pointer;
}

.fa-heart-active {
  color: #fa8072;
}

/*===============================
 * post-detail
 *=============================*/
.post-detail {
  width: 610px;
  margin: 0 auto;
  &-reply {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #f1f1f1;
    & input[type="text"] {
      display: inline-block;
      width: 460px;
    }
    & input[type="submit"] {
      display: inline-block;
      width: 100px;
      margin-left: 10px;
    }
    &-icon {
      margin-bottom: 5px;
      font-size: 1.4rem;
    }
  }
}

/*===============================
 * pagination
 *=============================*/
.pagination {
  font-weight: bold;
  text-align: center;
  &-item {
    display: inline-block;
    width: 30px;
    height: 40px;
    background-color: #f6f5f5;
    line-height: 40px;
    & a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &-now {
      display: block;
      width: 100%;
      height: 100%;
      & a {
        color: #000;
      }
    }
  }
}

/*===============================
 * form
 *=============================*/
.form {
  width: 80%;
  margin: 20px auto;
  &-container {
    width: 600px;
    margin: 0 auto;
    border: 5px solid #f1f1f1;
  }
  &-title {
    font-size: 2.5rem;
    text-align: center;
  }
  &-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    & input[type="text"],
      input[type="password"],
      textarea {
      width: 100%;
    }
    & textarea {
      height: auto;
      resize: none;
    }
    &-checkbox {
      & input,
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-file {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #f6f5f5;
      font-size: 1.2rem;
      text-align: center;
      line-height: 150px;
    }
    &.err {
      margin-top: 5px;
      & input,
        textarea {
        background-color: #f7dcd9;
      }
    }
  }
  &-btn {
    width: 100%;
    margin-top: 40px;
  }
  &-link-list {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
  }
  &-p {
    font-size: 1.4rem;
    text-align: center;
  }
  &-input {
    &-container {
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      & input {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        top: 0;
        left: 0;
      }
    }
    &-file-img {
      display: block;
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.input-msg {
  color: #ff4f50;
}

/*===============================
* profile
*=============================*/
.prof-side {
  &-btn {
    display: block;
    width: 80%;
    margin: 20px auto 10px;
    padding: 0;
    font-size: 1.6rem;
    & a {
      display: block;
      width: 100%;
      height: 100%;
      color: #000;
      line-height: 40px;
    }
  }
  &-content {
    margin: 10px;
    &-title {
      text-align: center;
      font-weight: bold;
    }
    &-main {
      font-size: 1.4rem;
    }
  }

}

.prof-top {
  position: relative;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  &-user {
    position: relative;
    width: 980px;
    margin: 0 auto;
    z-index: 2;
  }
  &-img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    left: 10px;
  }
  &-user-name {
    display: block;
    position: absolute;
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 170px;
    top: 50px;
  }
  &-nav {
    width: 980px;
    margin: 0 auto;
    &-wrap {
      position: absolute;
      width: 100%;
      min-width: 980px;
      height: 50px;
      background-color: #C0C0C0;
      overflow: hidden;
      z-index: 1;
      bottom: 0;
    }
    & ul {
      float: right;
    }
    & ul li {
      float: left;
      width: 100px;
      border-left: 1px solid #fff;
      text-align: center;
    }
    & ul li:last-child {
      border-right: 1px solid #fff;
    }
  }
  &-link {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    letter-spacing: 0.2rem;
    &-active {
      box-shadow: inset 0 0 20px 14px rgba(0,0,0,.3);
    }
  }
}
